{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %} {{title }} {% else %} Title  {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
<!--    <script src="{% static 'js/app.js'%}" defer></script>-->
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
        <a href="{% url 'home' %}">My Job</a>
        <a href="{% url 'job-create'%}">New Job</a>
        <span>Hi {{request.user.username | title }}</span>
        <a href="{% url 'logout'%}">LOGOUT</a>
        {% else %}
            <a href="{% url 'login'%}">LOGIN</a>
            <a href="{% url 'register'%}">Register</a>
    {% endif %}
</header>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %}">
                {{message}}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block content%}
{% endblock %}

</body>
</html>