{% extends 'base.html' %}

{% block content%}


<h1 class="text-3xl font-bold underline container ">
    DAFTAR PEKERJAAN
</h1>
<a href="{% url 'job-create'%}">Add Job</a>

<h1>My Job </h1>
  {% for job in jobs %}
    <h2>{{ job.job_title }}</h2>
    <small>Publish on {{ job.job_publish }} by {{job.job_author}} </small>
    <p>
      {{ job.job_description }}
    </p>
    <p>
        {%  if request.user.is_authenticated %}
        <a href="{% url 'job-edit' job.job_id %}">Edit</a>
        <a href="{% url 'job-delete' job.job_id %}">Delete</a>
        {%else %}
        Please Login
        {% endif %}
    </p>


  {% endfor %}
{% endblock %}




